<h1> create account:</h1>
<form method="POST" action="/acc1">
  Enter your CPR number  <input type="text" name="cpr"/>
  <br>
  Enter your first name  <input type="text" name="name" />
  <br>
    Enter your last name <input type="text" name="lastname" />
  <br>
     enter your age <input type="text" name="age" />
  <br>
     Enter your gender M, F, O <input type="text" name="gen" />
  <br>
     Enter your phone number <input type="text" name="phone" />
  <br>
     Enter your email <input type="email" name="email" />
  <br>
     Enter the country of residence<input type="text" name="country" />
  <br>
     Enter enter the city of residence<input type="text" name="city" />
  <br>
     Enter the addres of residence<input type="text" name="adr" />
  <br>
     Enter the post code<input type="text" name="postcode" />
  <br>
     Enter the password<input type="password" name="passwd" />
  <br>

  <input type="submit"/>

</form>