<h1>Online Bank</h1>

<form method="POST" action="http://127.0.0.1:5003/index1">

  <br>
  <button type="submit" type="text" name="cpr" value="{{ userData }}">
        view a bank account details
      </button>

</form>
<form method="POST" action="http://127.0.0.1:5003/login112">

  <br>
  <button type="submit" type="int" name="cpr" value="{{ userData }}">
        transaction
      </button>

</form>
<form method="POST" action="http://127.0.0.1:5001/">

  <br>
  <button type="submit" type="str" name="input" value="q">
      quit
      </button>

</form>