<h1>login</h1>
<form method="POST" action="http://127.0.0.1:5002/ind">

  <br>
  <button type="submit" type="int" name="input" value="1">
      login
  </button>

</form>
<form method="POST" action="/acc">

  <br>
  <button type="submit" type="int" name="input" value="2">
        create account
      </button>

</form>
<form method="POST" action="/pop">

  <br>
  <button type="submit" type="int" name="input" value="2">
        populate server
      </button>

</form>

<form method="POST" action="/pip">

  <br>
  <button type="submit" type="int" name="input" value="2">
        graph
      </button>

</form>
