<h1> create account:</h1>
<form method="POST" action="/acc1">
  Gino Laruota
    <br> CPR:301111111, PSW: seben
    <input type="hidden" type="text" name="cpr" value="301111111"/>

   <input type="hidden" type="text" name="name" value="Gino"/>

   <input  type="hidden" type="text" name="lastname" value="Laruota"/>

      <input type="hidden" type="text" name="age" value="112" />

     <input type="hidden" type="text" name="gen" value="m" />

      <input type="hidden" type="text" name="phone" value="3396793" />

      <input type="hidden" type="email" name="email" value="ginolaruota@gmail,com" />

     <input  type="hidden" type="text" name="country" value="italia"  />

     <input type="hidden" type="text" name="city" value="Vicenza"  />

     <input type="hidden" type="text" name="adr" value="via dei sassi, 69" />

     <input type="hidden" type="text" name="postcode" value="36100"/>

     <input type="hidden" type="text" name="passwd" value="seben"/>
  <br>

  <input type="submit" value="Create"/>

</form>
<form method="POST" action="/acc1">
  Barto Lacasa
    <br> CPR:3012131122, PSW: pasta
    <input type="hidden" type="text" name="cpr" value="3012131122"/>

   <input type="hidden" type="text" name="name" value="Barto"/>

   <input  type="hidden" type="text" name="lastname" value="Lacasa"/>

      <input type="hidden" type="text" name="age" value="18" />

     <input type="hidden" type="text" name="gen" value="m" />

      <input type="hidden" type="text" name="phone" value="33334567" />

      <input type="hidden" type="email" name="email" value="lacasata@gmail,com" />

     <input  type="hidden" type="text" name="country" value="italia"  />

     <input type="hidden" type="text" name="city" value="padova"  />

     <input type="hidden" type="text" name="adr" value="palm street, 69" />

     <input type="hidden" type="text" name="postcode" value="34100"/>

     <input type="hidden" type="text" name="passwd" value="pasta"/>
  <br>

  <input type="submit" value="Create"/>

</form>
<form method="POST" action="/acc1">
  Bogdan
    <br> CPR:123456789, PSW: fff
    <input type="hidden" type="text" name="cpr" value="123456789"/>

   <input type="hidden" type="text" name="name" value="Bogdan"/>

   <input  type="hidden" type="text" name="lastname" value="no"/>

      <input type="hidden" type="text" name="age" value="22" />

     <input type="hidden" type="text" name="gen" value="m" />

      <input type="hidden" type="text" name="phone" value="33334562" />

      <input type="hidden" type="email" name="email" value="bogdan@gmail,com" />

     <input  type="hidden" type="text" name="country" value="Denmak"  />

     <input type="hidden" type="text" name="city" value="Copenhagen"  />

     <input type="hidden" type="text" name="adr" value="Stree1 2th" />

     <input type="hidden" type="text" name="postcode" value="34100"/>

     <input type="hidden" type="text" name="passwd" value="fff"/>
  <br>

  <input type="submit" value="Create"/>

</form>
<form method="POST" action="/acc1">
  asi wang
    <br> CPR:123456766, PSW: fan
    <input type="hidden" type="text" name="cpr" value="123456766"/>

   <input type="hidden" type="text" name="name" value="asi"/>

   <input  type="hidden" type="text" name="lastname" value="wang"/>

      <input type="hidden" type="text" name="age" value="24" />

     <input type="hidden" type="text" name="gen" value="f" />

      <input type="hidden" type="text" name="phone" value="33334599" />

      <input type="hidden" type="email" name="email" value="bkkk@gmail,com" />

     <input  type="hidden" type="text" name="country" value="Denmak"  />

     <input type="hidden" type="text" name="city" value="Copenhagen"  />

     <input type="hidden" type="text" name="adr" value="Rue 2th" />

     <input type="hidden" type="text" name="postcode" value="34100"/>

     <input type="hidden" type="text" name="passwd" value="fan"/>
  <br>

  <input type="submit" value="Create"/>

</form>
<form method="POST" action="/acc1">
  Robert Mc Muffin
    <br> CPR:123456777, PSW: zen
    <input type="hidden" type="text" name="cpr" value="123456777"/>

   <input type="hidden" type="text" name="name" value="Robert"/>

   <input  type="hidden" type="text" name="lastname" value="McMuffin"/>

      <input type="hidden" type="text" name="age" value="24" />

     <input type="hidden" type="text" name="gen" value="f" />

      <input type="hidden" type="text" name="phone" value="33334599" />

      <input type="hidden" type="email" name="email" value="bkkk@gmail,com" />

     <input  type="hidden" type="text" name="country" value="Denmak"  />

     <input type="hidden" type="text" name="city" value="Copenhagen"  />

     <input type="hidden" type="text" name="adr" value="alle 1 2th" />

     <input type="hidden" type="text" name="postcode" value="34100"/>

     <input type="hidden" type="text" name="passwd" value="zen"/>
  <br>

  <input type="submit" value="Create"/>

</form>

<form method="POST" action="/bal">
   customer id: <input type="text" name="customerID" />


  <br>
    +20000DKK
  <button type="submit" type="int" name="input" >
      Add Balance
  </button>

</form>